
.message-me, .message-other, .message-quote {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.message-other {
    text-align: left;
}
.message-me {
    text-align: right;
}
.message-wrapper {
    display: inline-block;
    position: relative;
    width: auto;
    min-width: 40px;
    max-width: 60%;
    min-height: 37px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
}

.message-file .message-wrapper, .message-quote .message-wrapper, .message-accept .message-wrapper, .message-decline .message-wrapper {
    box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.02);
}

.message-me .message-wrapper {
    color: #ffffff;
    background: #0F5AEF;
    right: 0;
}
.message-other .message-wrapper {
    color: var(--base-color);
    background: #E9E8EA;
    left: 0;
}

.message-quote {
    text-align: center;
    margin-bottom: 30px;
}
.message-quote .message-wrapper {
    width: 450px;
    max-width: 450px;
    min-height: 167px;
    height: auto;
    background: #ffffff;
    border: 1px solid #EAEAEA;
    padding: 0;
}

@media screen and (max-width: 885px) {
    .message-quote .message-wrapper {
        width: 100%;
    }
}


.message-quote .status {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 2px;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--font-color);
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #EAEAEA;
}

.message-quote .price {
    display: block;
    position: relative;
    width: 100%;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--font-color);
    text-align: center;
    margin-top: 20px;
}


.message-quote .text {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 5px;
    color: #1C1C1C;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}


.message-quote .accept, .message-quote .requestreview, .message-quote .decline {
    display: block;
    position: relative;
    width: calc(100% - 40px);
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s;
    transform: scale(1);
}

.message-quote .accept, .message-quote .requestreview {
    background: var(--button-color);
    color: #ffffff;
}
.message-quote .requestreview {
    margin-bottom: 20px;
}

.message-quote .requestreview:hover {
    background: #0c4ccb;
    transform: scale(1.01);
}

.message-quote .accept:hover {
    background: #0c4ccb;
    transform: scale(1.01);
}

.message-quote .decline {
    background: #ffffff;
    color: var(--base-color);
    border: 2px solid #EAEAEA;
    margin-bottom: 20px;
}

.message-quote .decline:hover {
    background: #f8f8f8;
    transform: scale(1.01);
}

.message-quote .notice {
    display: block;
    position: relative;
    width: calc(100% - 20px);
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    border: none;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
    transform: scale(1);
    background: rgba(15, 90, 239, 0.66);
    border-left: 10px solid #0F5AEFFF;
    border-right: 10px solid #0F5AEFFF;
    color: #ffffff;
    text-align:center;
}


.message-accept, .message-decline {
    margin-top: 20px;
    margin-bottom: 30px;
}
.message-file {
    margin-top: 0;
    margin-bottom: 10px;
}
.message-me.message-accept, .message-me.message-decline, .message-me.message-file {
    text-align: right;
}
.message-other.message-accept, .message-other.message-decline, .message-other.message-file {
    text-align: left;
}
.message-accept .message-wrapper, .message-decline .message-wrapper, .message-file .message-wrapper {
    width: 290px;
    height: 100px;

}
.message-accept .heading, .message-decline .heading, .message-file .filename {
    display: block;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.message-accept .status, .message-decline .status, .message-file .download {
    display: block;
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
}
.message-accept .details-wrapper, .message-decline .details-wrapper, .message-file .details-wrapper {
    display: inline-block;
    width: calc(100% - 80px - 10px);
    box-sizing: border-box;
    padding:10px;
    vertical-align: middle;
    padding-right: 0;
    padding-left: 0;
}

.message-accept .icon-wrapper, .message-decline .icon-wrapper, .message-file .icon-wrapper {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 100%;
    vertical-align: middle;
}
.message-accept i, .message-decline i, .message-file i {
    display: block;
    position: relative;
    font-size: 40px;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}



.message-file .message-wrapper {
    cursor: pointer;
}

.message-file .filename {
    font-size: 17px;
}

.message-file .download {
    margin-top: 3px;
}

.message-file .download i {
    display: inline;
    font-size: 14px;
    margin-right: 5px;
}


.message-image .message-wrapper {
    width: 350px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.12);
    cursor: zoom-in;
    padding: 0;
    background: #fcfcfc;
}

.message-image img {
    border-radius: 12px;
    width: 350px;
    height: 200px;
    position: relative;
    object-fit: cover;
    object-position: center;
}

/*Make files smaller*/
.message-file .details-wrapper {
    width: calc(100% - 70px - 10px);
}

.message-file .message-wrapper {
    width: 220px;
    height: 80px;
}

.message-file .filename {
    font-size: 15px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-file .icon-wrapper {
    width: 70px;
}